{%- comment -%}
  Price Snippet
  Usage: {% render 'price', product: product %}
{%- endcomment -%}

{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
  {%- assign on_sale = true -%}
{%- endif -%}

<div class="price{% if on_sale %} price--on-sale{% endif %}">
  {%- if product.price_varies -%}
    <span class="price__current">{{ 'products.product.price.from' | t: price: product.price_min | money }}</span>
  {%- else -%}
    <span class="price__current{% if on_sale %} price__sale{% endif %}">{{ product.price | money }}</span>
    {%- if on_sale -%}
      <span class="price__regular">{{ product.compare_at_price | money }}</span>
    {%- endif -%}
  {%- endif -%}
</div>
